/* BACKGROUND: 42,42,42 */

/* GLOBAL STYLES*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

/* MAIN CONTAINER */

#main-container {
  background: rgb(42,42,42);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* END MAIN CONTAINER */

/* INTRO */

#intro-container {
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  max-width: 90%;
}

#intro-container h1 {
  color: rgb(207,207,207);
  font-size: 1.5em;
}

#intro-container p {
  color: rgb(117,117,117);
  padding-top: 10px;
  line-height: 1.8em;
}

/* END INTRO */

/* WORK*/

#work-container,
#lab-container {
  min-height: 100vh;
  padding: 80px 0;
  max-width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;;
  flex-wrap: wrap;
}

#work-container h2,
#lab-container h2 {
  color: rgb(207,207,207);
  font-size: 2em;
  font-weight: 800;
}

#work-container p,
#lab-container p {
  color: rgb(117,117,117);
  padding-top: 10px;
  line-height: 1.8em;
}

.work-example-container,
.lab-example-container {
  width: 48%;
}

.work-thumbnail,
.lab-thumbnail {
  width: 100%;
}

h3 {
  color: white;
  margin-bottom: 10px;
}

/* END WORK */
