/* BACKGROUND: 42,42,42 */

/* GLOBAL STYLES*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

p {
  font-size: 1.4em;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

/* MAIN CONTAINER */

#main-container,
#home {
  background: rgb(42,42,42);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* END MAIN CONTAINER */

/* MAIN NAV */

nav {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(42,42,42);
  width: 100%;
  display: none;
  z-index: 100;
}

#main-nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

#main-nav ul li {
  list-style: none;
  padding: 20px 50px;
  color: white;
  letter-spacing: .1em;
}

/* MAIN NAV end */

/* INTRO */

#intro-container {
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  max-width: 90%;
  text-align: justify;
}

#intro-container h1 {
  color: rgb(207,207,207);
  font-size: 2em;
}

#intro-container p {
  color: rgb(117,117,117);
  padding-top: 10px;
  line-height: 1.8em;
}

/* END INTRO */

/* WORK*/

#work-examples,
#lab-examples {
  min-height: 100vh;
  padding: 80px 0;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

#work-examples h2,
#lab-examples h2 {
  color: rgb(207,207,207);
  font-size: 2em;
  font-weight: 800;
  margin-top: 20px;
}

.image-container img {

}

#work-examples p,
#lab-examples p {
  color: rgb(117,117,117);
  line-height: 1.8em;
}

.work-example-container,
.lab-example-container {
  max-width: 100%;
  border-bottom: 2px solid white;
  padding-bottom: 20px;
}

.work-thumbnail,
.lab-thumbnail {
  width: 100%;
}

h3 {
  color: white;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 2em;
}

/* END WORK */

/* OVERLAYS */

.image-container {
  position: relative;
}

img {
  max-height: 300px;
}

.overlay {
  display: none;
}

.overlay-links {
  display: none;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
  nav {
  display: inline-flex;
  }

  .overlay {
    position: absolute;
    right: 0;
    bottom: 4px;
    height: 0%;
    width: 100%;
    transition: .5s;
    background-color: black;
    opacity: .7;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .overlay-links {

    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.1s linear;
    display: flex;
    flex-direction: row;
    transition-delay: .1s
  }

  .overlay-links a {
    padding: 10px 20px;
    margin: 1em;
    font-size: 1em;
    text-decoration: none;
    border-radius: 5px;
    border: 0.1em solid white;
    transition: border .5s ease;
  }

  .overlay-links a:hover {
    border: 0.1em solid red;
  }

  .overlay-links p {
    color: white !important;
    font-weight: bolder;
    font-weight: 800;
  }
}

@media (min-width: 1024px) {
  #work-examples,
  #lab-examples {
    max-width: 65%;
    flex-direction: row;
    text-align: left;
  }
  .work-example-container,
  .lab-example-container {
    max-width: 49%;
    border-bottom: none;
  }

  #work-examples h2,
  #lab-examples h2 {
    font-size: 1.5em;
    width: 100%;
  }

  p {
    font-size: 1.1em;
  }

  h3 {
    font-size: 1.2em
  }
}
