/* BACKGROUND: 42,42,42 */

/* GLOBAL STYLES*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

p {
  font-size: 1.4em;
}

/* MAIN CONTAINER */

#main-container {
  background: rgb(42,42,42);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* END MAIN CONTAINER */

/* INTRO */

#intro-container {
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  max-width: 90%;
  text-align: justify;
}

#intro-container h1 {
  color: rgb(207,207,207);
  font-size: 2em;
}

#intro-container p {
  color: rgb(117,117,117);
  padding-top: 10px;
  line-height: 1.8em;
}

/* END INTRO */

/* WORK*/

#work-container,
#lab-container {
  min-height: 100vh;
  padding: 80px 0;
  max-width: 65%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
}

#work-container h2,
#lab-container h2 {
  color: rgb(207,207,207);
  font-size: 2em;
  font-weight: 800;
  margin-top: 20px;
}

#work-container p,
#lab-container p {
  color: rgb(117,117,117);
  padding-top: 10px;
  line-height: 1.8em;
}

.work-example-container,
.lab-example-container {
  max-width: 100%;
  border-bottom: 2px solid white;
  padding-bottom: 20px;
}

.work-thumbnail,
.lab-thumbnail {
  width: 100%;
}

h3 {
  color: white;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 2em;
}

/* END WORK */

@media (min-width: 1024px) {
  #work-container,
  #lab-container {
    max-width: 65%;
    flex-direction: row;
    text-align: left;
  }
  .work-example-container,
  .lab-example-container {
    max-width: 48%;
    border-bottom: none;
  }

  #work-container h2,
  #lab-container h2 {
    font-size: 1.5em;
  }

  p {
    font-size: 1.1em;
  }

  h3 {
    font-size: 1.2em
  }
}
