* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* navbar */

.navbar {
  width: 100%;
  max-width: 1100px;
  height: 50px;
  background: white;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
}

.navbar__logo {
  position: absolute;
  left: 15px;
}

.navbar__logo__big {
  display: none;
}

.navbar__header {
  font-size: 1.5em;
  font-weight: bold;
}

.navbar__login {
  display: none;
}

/* header */

.header {
  width: 100%;
  max-width: 1100px;
  background: #00ccbc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.header__image {
  width: 100%;
  max-height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__pizza {
  position: relative;
  top: -50px;
  left: 0;
  height: 300px;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 75%, 0 89%);
  clip-path: polygon(0 0, 100% 0%, 100% 75%, 0 89%);
}

.header__logo {
  position: absolute;
  top: 30px;
  width: 100px;
  height: 100px;
  z-index: 15;
}

.header__content {
  padding: 0 20px 20px;
  display: flex;
  flex-direction: column;
}

.header__intro {
  font-size: 1.6em;
  margin-bottom: 10px;
  color: white;
}

.header__find {
  width: 100%;
  margin-bottom: 5px;
}

.header__find__label {
  display: block;
  margin-bottom: 8px;
  color: white;
}

.header__find__input {
  width: 70%;
  padding: 12px;
  border: none;
  height: 45px;
}

.header__find__submit {
  width: 30%;
  padding: 12px;
  background: #440063;
  border: none;
  color: white;
  height: 45px;
}

/* menu */

.menu {
  width: 100%;
  max-width: 1100px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu__intro {
  display: block;
  margin: 20px 0;
  font-size: 1.8em;
  width: 100%;
}

.menu__item__container {
  text-align: center;
  width: 100%;
}

.menu__img__container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 150px;
}

.menu__item__container:hover .healthy,
.menu__item__container:hover .favourite,
.menu__item__container:hover .dessert,
.menu__item__container:hover .picks {
  opacity: 0.7;
}

.healthy {
  background-image: url("../img/healthy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s ease;
  opacity: 1;
}

.favourite {
  background-image: url("../img/favourite.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s ease;
  opacity: 1;
}

.dessert {
  background-image: url("../img/dessert.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s ease;
  opacity: 1;
}

.picks {
  background-image: url("../img/picks.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.5s ease;
  opacity: 1;
}

.menu__item__img__description {
  font-size: 2em;
  color: white;
  font-weight: bold;
}

.menu__description {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 0.8em;
}

.menu__item__link {
  display: block;
  color: #00a396;
  text-decoration-color: inherit;
  margin-bottom: 25px;
}

/* recommend */

.recommend {
  width: 100%;
  max-width: 1100px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.recommend__intro {
  display: block;
  margin: 20px 0 25px 0;
  font-size: 1.8em;
  width: 100%;
}

.recommend__container {
  width: 100%;
}

.recommend__container:hover .recommend__img {
  opacity: 0.7;
}

.recommend__img {
  width: 100%;
  height: 160px;
  opacity: 1;
  transition: all 0.5s ease;
}

.recommend__item__img__description {
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

.recommend__description {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 0.9em;
}

.recommend__tagcloud {
  font-size: 1.5em;
  font-weight: bold;
  word-spacing: 2em;
  line-height: 2em;
}

.recommend__tagcloud a {
  text-decoration: none;
  color: black
}

/* work */

.work {
  width: 100%;
  max-width: 1100px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.work__intro {
  display: block;
  margin: 20px 0 25px 0;
  font-size: 1.8em;
  width: 100%;
}

.work__ride {
  width: 100%;
  background: #ff3d3d;
  color: white;
}

.work__img {
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 75%, 0 89%);
  clip-path: polygon(0 0, 100% 0%, 100% 75%, 0 89%);
}

.work__head {
  margin: 20px;
  font-size: 1.5em;
  font-weight: bold;
}

.work__description {
  margin: 20px;
}

.work__button {
  margin: 20px;
  margin-top: 0;
  background: #00ccbc;
  border: none;
  padding: 10px 15px;
  color: white;
}

.work__deliver,
.work__hq {
  margin-top: 20px;
}

.work__deliver {
  background: #ff8100;
  width: 100%;
  color: white;
}

.work__hq {
  background: #a0918a;
  width: 100%;
  color: white;
}

/* footer */

.footer {
  width: 100%;
  max-width: 1100px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #2e3333;
}

.footer__store {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.footer__apple__img {
  display: inline-block;
  height: 30px;
  margin-right: 5px;
}

.footer__android__img {
  display: inline-block;
  height: 30px;
  margin-left: 5px;
}

.footer__links {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
}

.footer__links__list {
  list-style: none;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer__links__item {
  color: white;
  display: inline-block;
  padding: 5px;
}

.footer__links__item:hover {
  text-decoration:
}

.footer__social {
  border-top: 1px solid #6b7781;
  width: 100%;
  padding: 20px;
}

.footer__social__img {
  margin-top: 5px;
  height: 25px;
  margin-right: 25px;
}

/* media queries */

@media (min-width: 768px) {
  /* navbar */

  .navbar {
    position: fixed;
    top: 0;
    z-index: 25;
    justify-content: space-between;
    height: 70px;
  }

  .navbar__logo {
    display: none;
  }

  .navbar__header {
    font-size: 1.5em;
    margin-left: 20px;
  }

  .navbar__login {
    margin-right: 20px;
    display: inline-flex;
  }

  .login__button {
    padding: 10px;
    background: #00ccbc;
    border: none;
    color: white;
  }

  /* header */

  .header {
    margin-top: 70px;
    height: 400px;
    width: 100%;
    background: #00ccbc;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    flex-wrap: nowrap;
  }

  .header__image {
    order: 2;
    width: 50%;
    max-height: 100%;;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__pizza {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    -webkit-clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
  }

  .header__logo {
    position: absolute;
    top: calc(50% - 110px);
    width: 200px;
    height: 200px;
    z-index: 15;
  }

  .header__content {
    order: 1;
    width: 50%;
    padding: 0 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header__intro {
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
  }

  .header__find {
    width: 100%;
    margin-bottom: 5px;
  }

  .header__find__label {
    font-size: 1.3em;
    font-weight: bold;
  }

  .header__find__submit {
    font-size: 1em;
  }

  /* menu */

  .menu__intro {
    display: block;
    margin: 20px 0;
    font-size: 1.8em;
    width: 100%;
  }

  .menu__item__container {
    text-align: center;
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  /* recommend */

  .recommend__container {
    width: calc(88% / 3);
    margin-left: 2%;
    margin-right: 2%;
  }

  .recommend__img {
    width: 100%;
    height: 160px;
  }

  .recommend__item__img__description {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
  }

  .recommend__description {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 0.9em;
  }

  .recommend__tagcloud {
    font-size: 1.5em;
    font-weight: bold;
    word-spacing: 2em;
    line-height: 2em;
  }

  .recommend__tagcloud a {
    text-decoration: none;
    color: black
  }

  /* work */

  .work__ride,
  .work__deliver,
  .work__hq {
    width: calc(88% / 3);
    margin-left: 2%;
    margin-right: 2%;
  }

  /* footer */

  .footer {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background: #2e3333;
  }

  .footer__store {
    order: 3;
    width: 30%;
  }

  .footer__links {
    order: 1;
    border-bottom: 1px solid #6b7781;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .footer__social {
    order: 2;
    width: 30%;
    border: none;
  }
}

@media (min-width: 978px) {
  .small {
    width: 32.5%;
    margin-left: 1.25%;
    margin-right: 1.25%;
    text-align: left;
  }
  .big {
    width: 62.5%;
    margin-left: 1.25%;
    margin-right: 1.25%;
    text-align: left;
  }
}
