/* GLOBAL STYLES */

* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
}

h2 {
  font-size: 1em;
  font-weight: bold;
}

p {
  margin-top: 12px;
}

/* NAVIGATION BAR STYLES */

#navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px rgb(227,227,227);
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  padding: 15px 20px;
  font-weight: bold;
  letter-spacing: .5em;
}

.fi-magnifying-glass,
.navigation-search,
.nav-1,
.nav-2,
.nav-3,
.nav-4,
.nav-5  {
  display: none;
}

.navigation-icons {
  list-style: none;
  margin-left: auto;
}

.navigation-menu {
  display: inline-block;
}

.fi-list {
  display: block;
  padding: 15px 30px;
  border-left: solid 1px rgb(227,227,227);
}

/* END NAVBAR */

/* PAGE CONTAINER STYLES */

#page-container {
  width: 100%;
  background: rgb(244,244,244);
  padding-top: 35px;
}

#page-content-container {
  width: 100%;
  background: white;
  border-top: solid 1px rgb(227,227,227);
  border-bottom: solid 1px rgb(227,227,227);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

#page-content-header {
  padding: 50px 24px 20px;
  text-align: center;
  width: 100%;
}

.page-header-p {
  font-size: .8em;
  letter-spacing: .35em;
  line-height: 2;
  color: #888;
}

#page-content-user {
  padding-top: 15px;
  padding-bottom: 20px;
  text-align: center;
}

.user-name {
  display: none;
}

.user-photo {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-top: 15px;
}

#page-content-image {
  text-align: center;
}

#page-content-main {
  padding: 20px 20px 0 20px;
  line-height: 1.7;
  color: #888;
}

.main-image {
  max-height: 500px;
  max-width: 90%;
  margin-bottom: 20px;
}

.content-tags {
  margin: 30px auto;
  width: 50%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.post-category,
.post-likes,
.post-shares {
  padding-left: 20px;
  padding-right: 20px;
}

.post-category {
  border-right: solid 1px rgb(227,227,227);
}
.post-likes {

}
.post-shares {
  border-left: solid 1px rgb(227,227,227);
}

/* END PAGE CONTENT */

/* FOOTER */

#page-footer {
  background: rgb(244,244,244);
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-social-icons {
  list-style: none;
  width: 35%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* END FOOTER */

/* MEDIA QUERIES */

@media (min-width: 768px) {

  /* NAV */
  .navigation-search {
    display: inline-block;
  }

  .fi-magnifying-glass {
    display: inline-block;
    padding: 15px 30px;
    border-left: solid 1px rgb(227,227,227);
  }

  /* END NAV */

  /* CONTENT */

  #page-container {
    padding-top: 55px;
  }

  #page-content-container {
    padding-top: 20px;
  }

  #page-content-user {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      padding-bottom: 50px;
  }

  h2 {
    display: block;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 10px;
    border-right: solid 1px rgb(227,227,227);
  }

  .user-name {
    display: block;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 10px;
  }

  .user-photo {
    margin-left: 10px;
    margin-top: 0;
  }

  .main-image {
    padding-top: 40px;
    border-top: solid 1px rgb(227,227,227);
  }

  .content-tags {
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: -20px;
  }

  /* CONTENT END */

}

@media (min-width: 1024px) {

  p {
    font-size: 1.3em;
  }

  /* NAV */

  .nav-1,
  .nav-2,
  .nav-3,
  .nav-4,
  .nav-5 {
    display: inline-block;
    padding: 20px 20px;
  }

  .logo {
    padding: 20px 20px;
    border-right: solid 1px rgb(227,227,227);
  }

  .fi-list,
  .fi-magnifying-glass {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .nav-5 {
    margin-left: auto;
  }

  /* NAV END */

  #page-content-container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items: center;
    padding-top: 0;
  }

  #page-header {
    display: flex;
    flex-wrap: wrap;
  }

  #page-content-header {
    width: 80%;
    padding-top: 60px;
    padding-bottom: 40px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-bottom: solid 1px rgb(227,227,227);
  }

  #page-content-user {
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: center;
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: solid 1px rgb(227,227,227);
    border-left: solid 1px rgb(227,227,227);

  }

  #page-content-image {
    text-align: center;
    margin: 0 auto;
  }

  #page-content-main {
    padding-left: 50px;
    padding-right: 50px;
  }

  .user-photo,
  .user-name {
    margin-left: 0;
    padding: 0;
    margin-top: 5px;
  }

  .main-image {
    border-top: none;
    margin-top: 30px
  }

  h2 {
    border: none;
    padding: 0;
  }

  /* FOOTER */

  .footer-social-icons {
    width: 10%;
  }

  /* END FOOTER */
}
