/* GLOBAL STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alegreya Sans', sans-serif;
}

body {
  display: relative;
}

/* END GLOBAL STYLES */

/* MAIN WRAPPER */

#wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* END MAIN WRAPPER */

/* HOME SECTION + NAVBAR */

#navbar-container {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #2a0845;
}

#navbar {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5px;
  letter-spacing: 0.1em;
}

#navbar a {
  text-decoration: none;
  color: white;
}

#navbar li:hover {
  border-bottom: 2px solid #f38900;
}

#logo {
  color: white;
  padding: 20px 20px 10px 0;
  display: none;
}

.nav-list {
  color: white;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.nav-item {
  height: 45px;
  margin: 0 20px;
  padding: 20px 0 5px 0;
  margin-bottom: 20px;
}

#home {
  width: 100%;
  margin-top: 50px;
  padding-top: 20px;
  min-height: 500px;
  background: #2a0845;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home-content {
  width: 60%;
  margin: 0 auto;
}


#home h1 {
  color: white;
  margin-bottom: 30px;
  font-size: 2.5em;
  font-weight: normal;
}

#home p {
  color: white;
  margin-bottom: 30px;
  font-size: 1.5em;
  font-weight: lighter;
}

.demo,
.video {
  width: 100%;
  margin: 0 auto;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 1.2em;
  color: white;
}

.demo {
  background: none;
  border: none;
  background: #f38900;
  border: 2px solid #f38900;
}

.video {
  margin-top: 10px;
  background: none;
  border: 2px solid white;
}

/* END HOME + NAVBAR*/

/* CUSTOMERS START */

#customers {
  text-align: center;
}

#customers h2 {
  color: #777;
  font-weight: 400;
  margin-top: 60px;
  margin-bottom: 40px;
}

.company-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.company-logo-thumb {

}

/* CUSTOMERS END */

/* STATS START */

#stats {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.stats-container {
  text-align: center;
  width: 100%;
  padding-bottom: 30px;
  margin-top: 30px;
  border-bottom: 2px solid #555;
}

.stats-container h3 {
  font-size: 4em;
  color: #2a0845;
  margin-bottom: 20px;
}

.stats-container p {
  margin-bottom: 40px;
}

.more-results {
  margin-top: 80px;
  background: none;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 1.2em;
  color: #2a0845;
  border: 3px solid #2a0845;
  margin-bottom: 40px;
}

/* STATS START */

#software-summary {
  width: 90%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
}

#software-summary span {
  width: 100%;
  color: #777;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 1.5em;
}

.software-summary-left {
  text-align: left;
  padding-top: 20px;
  width: 100%;
}

.software-summary-left h4 {
  font-size: 1.5em;
  color: #777;
  margin-bottom: 20px;
  line-height: 2;
}

.software-summary-left p {
  font-size: 1.3em;
  color: #777;
  margin-bottom: 40px;
  line-height: 1.5;
}

.software-summary-right {
  padding-top: 20px;
  width: 100%;
}

.software-summary-right img{
  width: 100%;
}

.read-more {
  width: 100%;
  margin: 0 auto;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 1.2em;
  border: 2px solid black;
  color: black;
  margin-top: 10px;
  background: none;
}

/* STATS END */

/* FEATURES START */

/* SECTION ORDERING */

.engage-left { order: 2; }
.engage-right { order: 1; }
.repeat-left { order: 1; }
.repeat-right { order: 2; }

/* SECTION ORDERING END */

#features {
  width: 100%;
}

#feature-nav {
  width: 100%;
  margin: 0 auto;
}

#feature-nav ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

#feature-nav li {
  height: 75px;
  display: inline-flex;
  padding: 30px 30px;
  font-size: 1em;
  color: #555;
  letter-spacing: .1em;
}

#feature-nav li:hover,
#feature-nav li:focus {
  color: #2a0845;
  border-bottom: 4px solid #2a0845;
}

#engage {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#engage h2 {
  width: 100%;
  display: block;
  margin-top: 80px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 2.5em;
  color: #2a0845;
    font-weight: lighter;
}

.engage-left {
  width: 90%;
  text-align: left;
  padding: 30px;
}

.engage-left h3 {
  font-size: 2em;
  color: #555;
  margin-bottom: 30px;
  font-weight: lighter;
}

.engage-left  li {
  font-size: 1.4em;
  color: #2a0845;
  margin-bottom: 20px;
  margin-left: 30px;
  padding-left: 20px;
}

.engage-left li p {
  color: #555;
}

.engage-right {
  width: 90%;
}


#repeat {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#repeat h2 {
  width: 100%;
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 2.5em;
  color: #2a0845;
  font-weight: lighter;
}

.repeat-left {
  text-align: center;
  width: 90%;
}

.repeat-right {
  width: 90%;
  text-align: left;
  padding: 30px;
}

.repeat-right h3 {
  font-size: 2em;
  color: #555;
  margin-bottom: 30px;
  font-weight: lighter;
}

.repeat-right li {
  font-size: 1.4em;
  color: #2a0845;
  margin-bottom: 20px;
  margin-left: 30px;
  padding-left: 20px;
}

.repeat-right p {
  color: #555;
}

#repeat .demo {
  margin-top: 30px;
}

#retain {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  margin-top: 80px;
  flex-wrap: wrap;
}

#retain h2 {
  font-weight: 400;
  font-size: 2.5em;
  color: #2a0845;
  font-weight: lighter;
}

#retain h3 {
  font-size: 1.4em;
  color: #555;
  margin-bottom: 30px;
  font-weight: lighter;
  margin-top: 30px;
}

#retain-features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

#retain img {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

#retain-features li {
  width: 90%;
  margin-top: 20px;
  font-weight: lighter;
  color: #2a0845;
  font-size: 1.1em;
}

#retain-features li p {
  color: #555;
}


/* FEATURES END */

#pricing {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.pamynet-plan {

  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 40px;
}

.pamynet-plan li {
  display: inline;
  padding: 25px 55px;
}

li.selected {
  background: #2a0845;
  color: white;
}

#plan-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.price-container {
  width: 100%;
  min-height: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.price {
  width: 100%;
  background: #2a0845;
  height: 150px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.price p {
  font-size: 3.2em;
}

.price h3 {
  font-size: 1.3em;
}

.price p.frequency {
  font-size: .8em;
}

.price-container h4 {
  margin-top: 20px;
  color: #555;
  font-weight: lighter;
  margin-bottom: 20px;
}

.sign-up {
  width: 75%;
  height: 60px;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 1.2em;
  border: 2px solid #f38900;
  color: #f38900;
  background: none;
  margin-top: auto;
  margin-bottom: 40px;
}

/* FOOTER START */

#footer {
  margin-top: 80px;
  background: #2d2d2d;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#footer-content {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 110px;
  width: 52%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer-links,
.footer-social {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.footer-links li {
}

.footer-links a {
  text-decoration: none;
  color: white;
}

.footer-social a {
  text-decoration: none;
}

.footer-social li {
  padding: 0 30px;
}

#footer img {
  width: 40px;
  height: 40px;
}

/* FOOTER END */

/* MEDIA QUERIES */

@media (min-width: 540px) {
  .price-container {
    width: 45%;
  }

  .price-container {
    margin-bottom: 40px;
  }


}

@media (min-width: 768px) {

  #logo {
    display: inline-flex;
  }

  #navbar {
    width: 52%;
    justify-content: space-between;
  }

  #home-content {
    width: 52%;
    margin: 0 auto;
  }

  #home h1 {
    font-size: 3em;
  }

  .demo,
  .video {
    width: auto;
  }

  .demo {
    display: inline;
    background: none;
    border: none;
    background: #f38900;
    border: 2px solid #f38900;
  }

  .video {
    display: inline;
    background: none;
    border: 2px solid white;
    margin-left: 15px;
  }

  .stats-container {
    text-align: center;
    width: 33%;
    border: none;
    margin-top: 0;
    margin-bottom: 0;
  }

  #feature-nav ul {
    width: 60%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-around;
  }

  .software-summary-left {
    width: 40%;
  }

  .software-summary-right {
    width: 60%;
  }

  .software-summary-right img {
    width: 60%;
  }

  .read-more {
    width: auto;
    margin-top: 0;
    margin-left: 15px;
  }

  .engage-left { order: 1; }
  .engage-right { order: 2; }
  .repeat-left { order: 1; }
  .repeat-right { order: 2; }

  .engage-left {
    width: 60%;
  }

  .engage-right {
    width: 40%
  }

  .repeat-left {
    width: 40%;
  }

  .repeat-right {
    width: 60%;
  }

  #retain-features li {
    width: 45%;
  }

  .price-container {
    width: 45%;
  }

  .sign-up {
    margin-bottom: 0px;
  }

  #footer-content {
    margin-top: 0px;
    margin-bottom: 0px;
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .price-container {
    width: 23%;
  }

  .price-container {
    margin-bottom: 0px;
  }
}

/* MEDIA QUERIES END */
