* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  letter-spacing: .1em;
  line-height: 1.5em;
  color: white;
}

/* Containers */

.row {
  height: auto;
  width: 100%;
}

.heading-container,
.contact-container,
.precontact-container,
nav,
footer {
  background-color: rgb(33,39,68);
  color: white;
  padding: 20px;
}

.heading-container {
  margin-top: -44px;
  padding-top: 80px;
  padding-bottom: 16px;
}

.heading-text-container {
  width: 95%;
}

.precontact-container {
  background-color: rgb(42,47,74);
}

.contact-container {
  width: 100%;
}

.container-row {
  display: flex;
  flex-wrap: wrap;
}

.form-container {
  width: 100%;
  padding-top: 50px
}

.form-name {
  width: 100%;
}

.form-email {
  width: 100%;
}

.form-message {
  width: 100%;
}

form {
  display: flex;
  flex-wrap: wrap;
}

/* NAV */

nav {
  height: 44px;
  display: flex;
  justify-content: space-between;
}

.logo-text {
  padding: 3px 2px 3px 9px;
  margin-right: 3px;
  background-color: white;
  color: rgb(33,39,68);
  letter-spacing: .4em;
  transition: all 0.5s ease
}

.logo-text:hover {
  background-color: rgb(155,241,255);
}

.get-started {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid white;
  width: auto;
  transition: all 0.5s ease
}

.get-started:hover {
  border: 2px solid rgb(155,241,255);
  color: rgb(155,241,255);
}

h1 {

}

hr {
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid white;
}

/* Mid-section css */

.container-33,
.container-66 {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
}

.container-lightblue {
  background: rgb(116,186,211);
  transition: background 0.5s ease
}

.container-lightblue:hover {
  background: rgb(62,157,193);
}

.container-purple {
  background: rgb(129,120,181);
  transition: background 0.5s ease
}

.container-purple:hover {
  background: rgb(98,88,160);
}

.container-red {
  background: rgb(219,137,129);
  transition: background 0.5s ease
}

.container-red:hover {
  background: rgb(204,82,68);
}

.container-orange {
  background: rgb(214,173,134);
  transition: background 0.5s ease
}

.container-orange:hover {
  background: rgb(176,115,60);
}

.container-blue {
  background: rgb(130,154,209);
  transition: background 0.5s ease
}

.container-blue:hover {
  background: rgb(66,110,179);
}

.container-green {
  background: rgb(124,176,153);
  transition: background 0.5s ease
}

.container-green:hover {
  background: rgb(85,140,116);
}

.container-content {
  margin-left: 40px;
  width: 225px;
}

.button-storage {
  margin-top: 40px;
  margin-bottom: 80px;
}

.contact-container {
  border-bottom: 2px solid rgb(42,47,74);
  padding-top: 0px;
  padding-bottom: 0px;
}

label {
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
}

#mail,
#message,
#name {
  width: 100%;
  background-color: rgb(42,47,74);
  border: none;
  padding: 12px;
}

#message {
  height: 200px;
}

#mail,
#name {
  height: 50px;
}

#submitButton {
  padding: 15px 30px;
  color: rgb(33,39,68);
  margin-right: 10px;
  transition: all 0.5s ease;
}

#submitButton:hover {
  background: rgb(155,241,255);
  border-color: rgb(155,241,255);
}

#resetButton {
  padding: 15px 30px;
  background: rgb(33,39,68);
  color: white;
  border: 2px solid white;
  transition: all 0.5s ease
}

#resetButton:hover {
  border: 2px solid rgb(155,241,255);
  color: rgb(155,241,255);
}

.contact-info {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#contact-email,
#contact-phone,
#contact-address {
  min-width: 100%;
  display: flex;
  justify-content: center;
  flex: 1;
  border-bottom: 2px solid rgb(42,47,74);

  padding-left: 30px;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
}

#contact-email {
  border-top: 2px solid rgb(42,47,74);
}

#contact-address {
  border-bottom: none;
}

@media (min-width: 768px) {
  .container-33,
  .container-66 {
    width: 50%;
  }

  .heading-container {
    display: flex;
    align-items: center;
    height: 725px;
  }

  .heading-text-container,
  .precontact-content {
    width: 85%;
    margin: 0 auto;
  }

  .form-email,
  .form-name {
    width: 49.5%;
  }

  .form-name {
    margin-right: 0.5%
  }

  .form-email {
    margin-left: 0.5%
  }
}

@media (min-width: 1024px) {
  .container-66 {
    width: 60%;
    height: 500px;
    padding-left: 40px;
  }

  .container-33 {
    width: 40%;
    height: 500px;
    padding-left: 40px;
  }

  .heading-container {
    display: flex;
    align-items: center;
    height: 725px;
  }

  .heading-text-container,
  .precontact-content {
    width: 75%;
  }

  .precontact-content {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  h1 {
    font-size: 4em;
  }

  h3 {
    font-size: 2em;
  }

  .form-container {
    width: 60%;
    border-right: 2px solid rgb(42,47,74);
    padding-left: 30px;
    padding-right: 50px;
  }

  .contact-info {
    width: 40%;
  }

  #contact-email,
  #contact-phone,
  #contact-address {
    min-width: 100%;
    border-bottom: 2px solid rgb(42,47,74);
    padding-left: 90px;
  }

  #contact-address {
    border-bottom: none;
  }

  .contact-head {
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  .contact-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }
}
